<header>

</header>
<main>
    <h1>Hello</h1>

<!-- Images (and assets) are parsed and loaded from within the public directory -->
<img src="public/img/angular.png">

<md-card>
    <button md-button>FLAT</button>
    <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
    <button md-raised-button color="primary">PRIMARY RAISED</button>
    <button md-raised-button color="accent">ACCENT RAISED</button>
</md-card>

</main>
<footer>
    <a [href]="url">Webpack Angular 2 Starter</a>
</footer>