<header>

</header>
<main>
    <h1>Hello</h1>

<!-- Images (and assets) are parsed and loaded from within the public directory -->
<img src="public/img/angular.png">

<md-card>
    <button md-raised-button md-tooltip="Increment" (click)="increment()">Increment</button>
    <button md-raised-button color="primary" (click)="decrement()">Decrement</button>
    <button md-raised-button color="accent" (click)="reset()">Reset</button>
    <div><button md-button>Current Count: {{ counter | async }}</button></div>
</md-card>

</main>
<footer>
    <a [href]="url">Webpack Angular 2 Starter</a>
</footer>